{% extends "base.html" %}
{# Load the tag library #}
{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}


{% block head %}

{% endblock %}

{% block nombre_nuevo %}
Raza {% bootstrap_icon "king" %} 
{% endblock %}

{% block contenido_nuevo %}
<form class="form-horizontal" action="/nuevaraza/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Nombre Requerido">
            <label class="control-label col-sm-2" >Nombre Raza:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="raza" placeholder="Nombre Raza">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-info btn-md">Nueva</button>
        </div>
    </div>
    {% if razanueva == True %}
        <script>
            alert('Raza Ingresada');
        </script>
    {% endif %}
    {% if razanueva == False %}
        <script>
            alert('No se puedo ingresar Raza');
        </script>
    {% endif %}
</form>
{% endblock %}

{% block nombre_mod %} 
Raza {% bootstrap_icon "king" %} 
{% endblock %}

{% block contenido_mod %}
<form class="form-horizontal" action="/cargarmodificarraza/" method="POST">
    {% csrf_token %}
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success btn-md">Cargar</button>
        </div>
    </div>
</form>
{% if razasmod %}

<form class="form-horizontal" action="/modificarraza/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Nombre Requerido">
            <label class="control-label col-sm-2" >Nombre Raza:</label>
            <div class="col-sm-10">
                <select name="razamod">
                    {% for raza in razasmod %}
                        <option value="{{ raza.id_raza }}" >{{ raza.nombre_raza }}</option>
                    {% endfor %}
                </select> 
            </div>
            <br>
            <label class="control-label col-sm-2" >Nuevo Nombre:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="raza" placeholder="Nuevo Nombre">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success btn-md">Modificar</button>
        </div>
    </div>
    
</form>

{% endif %}

{% if modificado == True %}
    <script>
        alert('Raza Modificado');
    </script>
{% endif %}
{% if modificado == False %}
    <script>
        alert('No se puedo modificar Raza');
    </script>
 {% endif %}

{% endblock %}

{% block nombre_eliminar %}
Raza {% bootstrap_icon "king" %} 
{% endblock %}

{% block contenido_eliminar %} 
<form class="form-horizontal" action="/cargareliminarraza/" method="POST">
    {% csrf_token %}
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger btn-md">Cargar</button>
        </div>
    </div>
</form>
{% if razaseli %}

<form class="form-horizontal" action="/eliminarraza/" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Nombre Requerido">
            <label class="control-label col-sm-2" >Nombre Pais:</label>
            <div class="col-sm-10">
                <select name="razaeli">
                    {% for raza in razaseli %}
                        <option value="{{ raza.id_raza }}" >{{ raza.nombre_raza }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger btn-md">Eliminar</button>
        </div>
    </div>
    
</form>

{% endif %}

{% if eliminado == True %}
    <script>
        alert('Raza Eliminado');
    </script>
{% endif %}
{% if eliminado == False %}
    <script>
        alert('No se puedo eliminar Raza');
    </script>
 {% endif %}


{% endblock %}

{% block nombre_ver %}
Raza {% bootstrap_icon "king" %} 
{% endblock %}

{% block contenido_ver %}
<form class="form-horizontal" action="/cargarraza" method="POST">
    {% csrf_token %}
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-warning btn-md">Cargar</button>
        </div>
    </div>
    {% if razas %}
    
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nombre</th>
                </tr>
            </thead>
            <tbody>
                {% for raza in razas %}
                    <tr>
                        <td>{{ raza.id_raza }}</td>
                        <td>{{ raza.nombre_raza }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    
    {% endif %}
</form>
{% endblock %}